body,h1,h2,p,ul,li{
    margin:0;
    padding:0
}
 body{
    font-family:Arial, Helvetica, sans-serif;
 }
 header{
    background-color: #22610d;
    color: #fff;
    padding:20px;
 }
header h1{
    margin: 0;
}
nav ul {
   list-style-type: none;
}
nav ul li{
   display: inline;
   margin:20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
}
section{
   padding:20px;
}
footer{
   background-color: #2858de;
   color:#fff;
   padding:20px;
}